{% extends '@FOSUser/layout.html.twig' %}

{% block fos_user_content %}
    <h1></h1>

    <table>
        <tbody>
            <tr>
                <th>Nick: </th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email: </th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Last Login: </th>
                <td>{{ user.lastLogin|date() }}</td>
            </tr>
            <tr>
                <th>Role: </th>
                    <td>
                        {% if user.roles|first == "ROLE_ADMIN" %}
                        ADMIN
                        {% else %}
                        USER
                        {% endif %}
                    </td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('casinogold_user_showallusers') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock fos_user_content %}
